__pycache__/gamestatedialog.cpython-38.pyc
gamemodel/__pycache__/ConnectFourBase.cpython-38.pyc
gamemodel/__pycache__/__init__.cpython-38.pyc
gamemodel/__pycache__/connectfour.cpython-38.pyc
gamemodel/__pycache__/wrongmoveexception.cpython-38.pyc